/*body background color.Basil*/
body {
    background-color: #2f303a;
}
/*Removing underline from hyper
links. Basil*/
a {
    text-decoration: none;
    color: #1d19f6;
}
/*navbar bakground color change.
Basil*/
.navbar {
    background-color: #c4c4c4;
}
/* Spaces between items are increased
in the navbar. Basil*/
.navbar-brand {
    padding-left: 40px;
}
/* Spaces between items are increased
in the navbar. Basil*/
.nav-item {
    padding-left: 80px;
    padding-right: 80px;
}
/* Search bar with rounded corners
and white & blue background. Basil*/
.navbar1 {
    background-color: #0000ff;
    border-radius: 25px;
}
/* Search bar with rounded corners
and white & blue background. Basil*/
.btn {
    color: #ffffff;
    border: none;
    border-radius: 25px;
}
/* Search bar with rounded corners
and white & blue background. Basil*/
.form-control1 {
    color: #555555;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    width: 299px;
    margin-left: -20px;
}
/*box config. Basil*/
.box {
    background-color: #ffffffea;
    width: auto;
    height: 556px;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
/*can be used to add spacing between 
items stacked on top of each other.
Basil*/
.padding {
    padding-bottom: 1%;
}
/*container. Basil*/
.container {
    width: auto;
    height: auto;
    position: static;
    flex-direction:row;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-content: space-around;
    align-items: center;
    
}
/*white boxes config. Basil*/
.box1 {
    border-radius: 30px;
    background-color: #ffffff;
    color: #1d19f6;
    width: 358px;
    height: 293px;
    position: relative;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 10px 10px 5px #494848;
}
/*footer config*/
.box2 {
    width: auto;
    display: flex;
    background-color: #000000;
    padding: 15px 15px 15px 15px;
}
footer {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2f303a;
    padding: 15px 15px 15px 15px;
    color: #ffffff;
}
