/*Only for connectionError Page*/
/*body background color.*/
body {
    background-color: #2f303a;
}
/*Removing underline from hyper
links.*/
a {
    text-decoration: none;
    color: #ff7a18;
}
/*navbar bakground color change.
*/
.navbar {
    background-color: #c4c4c4;
}
/* Spaces between items are 
increased in the navbar.*/
.navbar-brand {
    padding-left: 40px;
}
/* Spaces between items 
are increased in the navbar.*/
.nav-item {
    padding-left: 80px;
    padding-right: 80px;
}
/**/
.nav-link:hover {
    background-color: #eeea14;
    border-radius: 25px;    
}
a:hover {
    color: #00ff6a;
}
/* Search bar with rounded corners
and white & blue background.*/
.navbar1 {
    background-color: #0000ff;
    border-radius: 25px;
}
/* Search bar with rounded corners
and white & blue background.*/
.btn {
    color: #ffffff;
    border: none;
    border-radius: 25px;
}
/* Search bar with rounded corners
and white & blue background.*/
.form-control1 {
    color: #555555;
    border: none;
    border-radius: 25px;
    padding-left: 20px;
    width: 299px;
    margin-left: -20px;
}
/*box config.*/
.box {
    background-color: #ffffffea;
    width: auto;
    height: 556px;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
/*can be used to add spacing 
between items stacked on 
top of each other.*/
.padding {
    padding-bottom: 1%;
}
.block {
    background-color: #2f303a;
    width: auto;
    height: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}
/*container.*/
.container {
    width: auto;
    height: auto;
    position: static;
    flex-direction:row;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-content: space-around;
    align-items: center;  
}
.sec {
	margin-bottom: 2%;
    width: auto;
    height: auto;
    position: relative;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap; 
    justify-content: top; 
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    overflow: scroll;
}
.sec1 {
	padding-top: 1%;
    background-color: #ffffffea;
    width: auto;
    height: auto;
    position: relative;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    background-color: #2f303a;
    color: #ffffff;
}
/*white boxes config.*/
.box1 {
    border-radius: 30px;
    background-color: #ffffff;
    color: #1d19f6;
    width: 358px;
    height: 293px;
    position: relative;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    margin-top: 20%;
    margin-bottom: 20%;
    text-shadow: 2px 2px 4px 
    #000000;
    box-shadow: 10px 10px 5px 
    #494848;
}
.box2 {
    width: auto;
    display: flex;
    background-color: #000000;
    padding: 15px 15px 15px 15px;
}
table {
  	font-family: arial, sans-serif;
  	border-collapse: collapse;
  	width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align:center;
}

tr:nth-child(even) {
  background-color: blue;
}
/*footer config*/
footer {
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #2f303a;
    padding: 15px 15px 15px 15px;
    color: #ffffff;
}
